
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #e4cee6, #82bdda, #aa56d6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(156, 62, 14, 0.72);
    width: 350px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

form {
    display: flex;
    flex-direction: column; //คลอลัมแนวตั้งเรียง
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; //เทขเ้ม
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.password-container {
    position: relative; /*วางอยู่ด้านขวาสุด*/
    display: flex;
    align-items: center;
}

input[type="password"] {
    flex: 1;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    margin-top: 10px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}
