/* รีเซ็ตสไตล์ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*รวม padding และ border ไว้ในขนาดของ Element ทำให้คำนวณขนาดได้แม่นยำ*/
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #e4cee6, #82bdda, #aa56d6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="password"] {
    flex: 1;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.message {
    margin: 20px 0px 20px 0px;;
    padding: 30px;
    background-color: lightgray;
    display: none;
    border-radius:10px;
}
.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger {
    background-color: lightcoral;
    display: block;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    margin-top: 10px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}
